<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Coursemate Match</title>
</head>

<body>
    {% for project in projects %}
    <p>Project title: {{project.title}}</p>
    <p>Project group leader: {{project.group_leader}}</p>
    <p>Project description: {{project.description}}</p>
    <p>Project time: from {{project.project_start_date}} to {{project.project_end_date}}</p>
    {% endfor %}

    <br><br>

    <form method="post">
        <label for="title">Title: </label>
        <input name="title" id="title">
        <br>
        <label for="title">Description: </label>
        <input name="description" id="description">
        <br>
        <label for="title">Project start date: </label>
        <input name="start_date" id="start_date" placeholder="YYYY-MM-DD">
        <br>
        <label for="title">Project end date: </label>
        <input name="end_date" id="end_date" placeholder="YYYY-MM-DD">
        <br>
        <input type="submit" value="Post">
    </form>

</body>

</html>